<!DOCTYPE html>
<html lang="en" class="no-js" {{#if this.angular_app}}ng-app="{{this.angular_app}}"{{/if}}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.optimizely.com/js/2446360483.js"></script>

    <!-- Optimizely Stylesheet -->
    <link rel="stylesheet" href="{{assets}}/css/main.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="outer-wrapper">
      <div id="inner-wrapper">

        {% body %}

      </div>
    </div>
    
    {{#if this.page_script}}
    <script src="{{assets}}/js/{{this.page_script}}" defer></script>
    {{/if}}
  </body>
</html>
